<p><p>

<div class="card">
  <div class="card-header">
   <h1>About me...</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">Paul Bob</h5>
    <p class="card-text" style="text-align:justify">I was born in 1997 in Romania and moved definitively to Portugal in 2006. I'm currently finishing my bachelor degree in Computer Science (Engenharia Informática - ISEC) this year. During the degree I acquired experience in C, C++, Java, Kotlin, Flutter, C# and .Net Core languages. Also have some knowledge about Operative Systems (Linux and Windows). I am a competent and efficient worker. The problem solving nature of programming is what captivates me.</p>
    <a target="_blank" href="https://github.com/Paul-Bob" class="btn btn-primary">GitHub</a>
    <a target="_blank" href="https://www.linkedin.com/in/paul-bob-7983a620a/" class="btn btn-primary">LinkedIn</a>
  </div>
</div>